html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/status/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Node Server
	body
		#app
			.card
				.inline
					img(src='/status/logo.svg', alt='OS Logo', height='64px', width='64px')
				.inline
					.left-text
						h2 Node Server
						p #{ address }
				.clearfix
				br
				hr
				br
				.inline
					p.small Distro
					p.dark.left #{ distro }
					.clearfix
					p.small Release
					p.dark.left #{ release }
					.clearfix
				.inline
				.inline
					p.small Kernel
					p.dark.left #{ kernel }
					.clearfix
					p.small Arch
					p.dark.left #{ arch }
					.clearfix
			div(v-if='false')
				.card
					p Loading...
			div(v-cloak)
				.card
					p.dark(v-if='temp > 0') CPU Usage ({{ temp }}°)
					p.dark(v-else) CPU Usage
					br
					canvas#chart
				.card
					p.dark Average Load Per CPU
					br
					.inline(v-for='i in loadavg')
						p.small   {{ i.text }}: {{ i.value }}%  
						.bar-wrapper
							.bar.bar-error(v-if='i.value >= 100', style='width: 100%')
							.bar(v-else='', v-bind:style="{ width: i.value + '%' }")
				.card
					p.dark Memory Usage
					br
					p.small.left memory
					p.small.right {{ memUsed }} / {{ memTotal }} MB
					.clearfix
					.bar-wrapper
						.bar(v-bind:style="{ width: (100 * memUsed / memTotal) + '%' }")
					br
					p.small.left swap
					p.small.right {{ swapUsed }} / {{ swapTotal }} MB
					.clearfix
					.bar-wrapper
						.bar(v-bind:style="{ width: (100 * swapUsed / swapTotal) + '%' }")
		script(src='/status/socket.io/socket.io.js')
		script(src='/status/library/chart.min.js')
		script(src='/status/library/vue.min.js')
		script(src='/status/client.js')
