html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Roboto')
		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='/library/bootstrap-grid.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Node Server
	body
		#app.container
			.row
				.col-lg-5.offset-lg-1.col-md-8.offset-md-2
					.card
						.inline
							img(src='/logo.svg', alt='OS Logo', height='64px', width='64px')
						.inline
							.left-text
								h2 Node Server
								p(v-cloak v-if='online') #{ address }
								p.red(v-else) Offline
						.clearfix
						.spacer
						hr
						.spacer
						.inline
							p.small Distro
							p.dark.left #{ distro }
							.clearfix
							p.small Release
							p.dark.left #{ release }
							.clearfix
						.inline
						.inline
							p.small Kernel
							p.dark.left #{ kernel }
							.clearfix
							p.small Arch
							p.dark.left #{ arch }
							.clearfix
					.card(v-cloak v-show='online' v-if='memTotal > 0 || swapTotal > 0')
						p.dark Memory Usage
						div(v-if='memTotal > 0')
							.spacer
							p.small.left memory
							p.small.right {{ memUsed }} / {{ memTotal }} MB
							.clearfix
							.bar-wrapper
								.bar(v-bind:style='{ width: (100 * memUsed / memTotal) + "%" }')
						div(v-if='swapTotal > 0')
							.spacer
							p.small.left swap
							p.small.right {{ swapUsed }} / {{ swapTotal }} MB
							.clearfix
							.bar-wrapper
								.bar(v-bind:style='{ width: (100 * swapUsed / swapTotal) + "%" }')
				.col-lg-5.offset-lg-0.col-md-8.offset-md-2(v-cloak v-show='online')
					.card.card-no-padding
						p.dark(v-if='temp > 0') CPU Usage ({{ temp }}°C)
						p.dark(v-else) CPU Usage
						.spacer
						canvas#chart
					.card
						p.dark Average Load Per CPU
						.spacer
						.inline(v-for='i in loadavg')
							p.small   {{ i.text }}: {{ i.value }}%  
							.bar-wrapper
								.bar.bar-error(v-if='i.value >= 100', style='width: 100%')
								.bar(v-else='', v-bind:style='{ width: i.value + "%" }')
		script(src='/socket.io/socket.io.js')
		script(src='/library/moment.min.js')
		script(src='/library/chart.min.js')
		script(src='/library/vue.min.js')
		script(src='/client.js')
